{% capture opacity %}after:bg-opacity-[{{ styles.backgroundOpacity }}%]
{% endcapture %}
{% assign color_group = styles.color_group %}

{% capture heading %}
    content:
        highlightEyebrow: {{heading.content.highlightEyebrow}}
        eyebrow: {{heading.content.eyebrow}}
        headline: {{heading.content.headline}}
        description: {{heading.content.description}}
        headingHierarchy: "h1"
    styles:
        contentAlignment: {{heading.styles.contentAlignment}}
        textAlignment: {{heading.styles.textAlignment}}
{% endcapture %}

<div class="c-bannerHero componentcontainer bg-{{styles.color_group}}-backgroundcolor  text-{{styles.color_group}}-textcolor">
    <div class="absolute inset-0 flex items-center justify-center after:contents[''] after:absolute after:inset-0 after:bg-black after:bg-op {{opacity}} ">
          {% bookshop "generic/image" bind: content.backgroundImage class: "h-full w-screen object-cover " %}
        </div>
    <section class="basecontainer w-full z-10 flex flex-col h-[600px] justify-center ">
        {% bookshop "generic/heading" bind: heading %}
    </section>
</div>