{% assign color_group = styles.color_group %}
{% assign evenOdd = 0 %}

<div class="c-featuresCenterImage componentcontainer bg-{{styles.color_group}}-backgroundcolor  text-{{styles.color_group}}-textcolor">
  <section
    {% if content.sectionId %}
    id="{{ content.sectionId | idFilter }}"
    {% endif %}
    class="basecontainer w-full">
    {% bookshop "generic/heading" bind: content.heading %}
    {% if content.cards %}
        <div class="mt-20 flex flex-wrap justify-center gap-16">
            {% comment %} Even cards {% endcomment %}
            <div >
                {% for card in content.cards %}
                    {% if evenOdd | modulo: 2 == 0 %}
                    {% assign color_group = styles.card_color_group %}
                    <div class="min-h-[260px] max-w-[380px] w-full {% if styles.cardBackground %} bg-{{styles.card_color_group}}-backgroundcolor shadow-md{% endif %} px-7 py-4  rounded">
                      {% capture heading %}
                        content:
                            highlightEyebrow: {{card.heading.content.highlightEyebrow}}
                            eyebrow: {{card.heading.content.eyebrow}}
                            headline: {{card.heading.content.headline}}
                            description: {{card.heading.content.description}}
                            headingHierarchy: "h3"
                            buttons:
                                {{card.heading.content.buttons | json}}
                        styles:
                            contentAlignment: {{card.heading.styles.contentAlignment}}
                            textAlignment: {{card.heading.styles.textAlignment}}
                            visualInterest: {{card.heading.styles.visualInterest}}
                            visualInterestColor: "{{card.heading.styles.visualInterestColor}}"
                    {% endcapture %}
                    {% assign heading = heading | ymlify %}
                      {% bookshop "generic/heading" bind: heading %}
                    </div>
                {% endif %}
                    {% assign evenOdd = evenOdd | plus: 1 %}
                  {% endfor %}

            </div>
            {% assign evenOdd = 0 %}
            {% assign evenOdd = evenOdd | plus: 1 %}
            {% comment %} Odd cards {% endcomment %}
            <div >
                {% for card in content.cards %}
                    {% if evenOdd | modulo: 2 == 1 %}
                    {% assign color_group = styles.card_color_group %}
                    <div class="min-h-[260px] max-w-[380px] w-full {% if styles.cardBackground %} bg-{{styles.card_color_group}}-backgroundcolor shadow-md{% endif %} px-7 py-4  rounded">
                      {% capture heading %}
                        content:
                            highlightEyebrow: {{card.heading.content.highlightEyebrow}}
                            eyebrow: {{card.heading.content.eyebrow}}
                            headline: {{card.heading.content.headline}}
                            description: {{card.heading.content.description}}
                            headingHierarchy: "h3"
                            buttons:
                                {{card.heading.content.buttons | json}}
                        styles:
                            contentAlignment: {{card.heading.styles.contentAlignment}}
                            textAlignment: {{card.heading.styles.textAlignment}}
                            visualInterest: {{card.heading.styles.visualInterest}}
                            visualInterestColor: "{{card.heading.styles.visualInterestColor}}"
                    {% endcapture %}
                    {% assign heading = heading | ymlify %}
                      {% bookshop "generic/heading" bind: heading %}
                    </div>
                {% endif %}
                    {% assign evenOdd = evenOdd | plus: 1 %}
                  {% endfor %}

            </div>
          
          
        </div>
      {% endif %}
  </section>
</div>