{% assign color_group = styles.color_group %}
{% assign outerTrack = "glide-" | uuidFilter %}
{% assign imageCounter = 0 %}
{%- capture imageList -%}
    {% for image in content.images %}
    - imagePath: {{image.imagePath}}
      imageAlt: {{image.imageAlt}}
      yAxisPosition: {{image.yAxisPosition}}
      imageNumber: {{imageCounter}}
      {% assign imageCounter = imageCounter | plus: 1 %} 
    {% endfor %}
{%- endcapture -%}
{% assign imageList = imageList | ymlify %}
<div class="c-5050ImageForm relative">
  <section class="basecontainer w-full">

    {% if content.sectionId %}
      {% bookshop "util/IdScrollEvent" sectionId: content.sectionId %}
    {% endif %}
    <div class=" flex">

      <div class="cs-w-full  flex  bg-{{styles.color_group}}-backgroundcolor ">
        <div class="max-w-[512px] w-full">
          {% if content.heading %}
            {% bookshop {{content.heading._bookshop_name}} bind: content.heading %}
          {% endif %}
        </div>
        <div class="{{outerTrack}} ">
          <div class="glide__track">
            <ul class="glide__slides">

              {% for image in content.images %}

                <li class="glide__slide">
                  {% bookshop "generic/image" bind: image class: "w-full h-full" %%}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

    </div>

    {% if imageCounter > 5 %}

      <script src="node_modules/@glidejs/glide/dist/glide.min.js"></script>

      <script>

          let {{outerTrack}} = new Glide('.{{outerTrack}}').mount()
      </script>
    {% endif %}
  </section>
</div>