<a
  href="{{url}}"
  class=" {% if blackText %} text-slate-950 {% else %} text-white {% endif %} {% if ghostButton %} border-2 border-{{color_group}}-primarycolor {% else %}bg-{{color_group}}-primarycolor

{% endif %} text-{{color_group}}-textcolor px-3 py-2 rounded font-bold text-sm uppercase transition-all hover:scale-105 "
  {% if openInNewTab %}
  target="_blank"
  {% endif %}>{{ text }}</a>