{% assign color_group = styles.color_group %}
{% if env_bookshop_live %}
{% assign listingsItems = collections.listings %}    
{% elsif pagination.items %}
 {% assign listingsItems = pagination.items %}
{% else %}
{% assign listingsItems = collections.listings %} 
{% endif %}
{% comment %}
  don't forget to make use of pagination.items

{% endcomment %}
{% assign listingCardStyle = 'generic/listings/' | append: styles.listingCardStyle | append: "ListingCard" %}
<div class="c-listingsAll componentcontainer bg-{{styles.color_group}}-backgroundcolor  text-{{styles.color_group}}-textcolor">
  <section
    class="basecontainer w-full"
    {% if content.sectionId %}
              {% bookshop "util/IdScrollEvent" sectionId: content.sectionId %}
    {% endif %}>
  {% if listingsItems.size > 0 %}  
    <ul class="mt-20 flex flex-wrap justify-center gap-8">

        {% for listing in listingsItems %}
          {% capture featuredImage %}
            {% if listing.data.listingImage and listing.data.listingImage != "" %}
             image:
                imagePath: {{listing.data.listingImage}}
                imageAlt: {{listing.data.imageAltText}}
            {% else %}
            image:
                imagePath: {{listings.defaultImage.imagePath}}
                imageAlt: {{listings.defaultImage.imageAlt}}
            {% endif %}
          {% endcapture %}
          {% capture card %}
          listingTitle: {{listing.data.title | stringifyFilter}}
          listingUrl: {{listing.url}}
          keyInformation: {{listing.data.keyInformation | stringifyFilter}}
          expires: {{listing.data.canExpire}}
          listingExpiration: {{listing.data.expireDate}}
          listingTags: {{listing.data.tags | ymlify | split: "," | json}}
          {{featuredImage | strip | log}}
          color_group: {{styles.card_color_group}}
          colorFromGroup: {{styles.colorFromGroup}}
          {% endcapture %}
          {% assign card = card | ymlify %}
          {% bookshop {{listingCardStyle}} bind: card %}
        {% endfor %}
      </ul>
  {% endif %} 
    
    
    </section>
</div>


<script type="module">
      document.addEventListener("DOMContentLoaded", async () => {
        const pagefind = await import("/pagefind/pagefind.js");
    // Initialize Pagefind
    await pagefind.init();

    // Example function to filter by tags
    async function filterListings(tag) {
      const results = await pagefind.search("", { filters: { tag: [tag] } });

      // Render results
      renderResults(results.results);
    }

    console.log("Pagefind initialized.");
    // Example trigger for filtering
    document.querySelectorAll('.filter-button').forEach(button => {
      button.addEventListener('click', () => filterListings(button.dataset.tag));
    });
  });
</script>