{% capture imageComponentclasses %}
    {% if class %}
        {{class}}
        {% else %}
        w-full h-auto
    {% endif %}

{% endcapture %}

{% if env_bookshop_live %}
    {% comment %} Div wrap to simulate block level element of picture that real short code generates {% endcomment %}
    <div><img class="{{imageComponentclasses}}" src="{{ imagePath }}" alt="{{ imageAlt }}"></div>



{% elsif imagePath and imagePath !=""  %}

{% image imagePath, imageAlt, imageComponentclasses, imageSizes %}
{% else %}
    
<div class="{{imageComponentclasses}}"></div>
    
{% endif %}