{% capture imageComponentclasses %}
    {% if class %}
        {{class}}
        {% else %}
        w-full h-auto
    {% endif %}

{% endcapture %}

{% if env_bookshop_live %}
    
    <img class="{{imageComponentclasses}}" src="{{ imagePath }}" alt="{{ imageAlt }}">



{% elsif imagePath and imagePath !=""  %}

{% image imagePath, imageAlt, imageComponentclasses, imageSizes %}
{% else %}
    
<div class="{{imageComponentclasses}}"></div>
    
{% endif %}