{% assign groupName = label | append: "-" | append: id %}

<div class="c-checkBoxGroup">
    <fieldset {% if helper_text %}aria-describedby="{{ id }}--helper"{% endif %}>
        {% if label and label != '' %}
            <legend class="">{{ label }}</legend>
        {% endif %}
        <div class="{{ c }}__group__inputs {{ c }}__group__inputs--arrangement-{{ arrangement }}">
            {% for checkbox in checkboxes %}
                {% bookshop "generic/form/checkBoxInput" bind:checkbox group_name:groupName %}
            {% endfor %}
        </div>
    </fieldset>
    {% if helper_text %}
        {% bookshop "generic/form/helper-text" id={{ id }} helperText={{ helperText }} %}
    {% endif %}
</div>