{% if env_bookshop_live %}
    {% assign postListItems = collections.happenings %}
  {% else %}
    {% assign postListItems = pagination.items %}
  {% endif %}{% assign color_group = styles.color_group %}
  {% comment %} "happenings" is a data file that is being passed into this funciton src/data/happenings.yml {% endcomment %}
  {% assign postListItems = collections.happenings | concat: collections.blog | happeningsFilter: page, happenings, contents.tags, 1 %}
  
  {% capture opacity %}after:bg-opacity-[{{ styles.backgroundOpacity }}%]
  {% endcapture %}
  {% assign counter = 0 %}
  {% assign cardStyle = 'generic/happenings/' | append: styles.cardStyle | append: "Card" %}
  
  
  <div class=" ">
    {% if postListItems.size > 0 %}
      <div
        {% if contents.sectionId %}
        id="{{ contents.sectionId | idFilter }}"
        {% endif %}
        class="">
        {% if env_bookshop_live and contents.showNote %}
          {% bookshop "generic/notification" heading: "Happening Cards No Filtering" text: "The filtering do not work while editing, but works correctly on the live site." %}
        {% endif %}
          {% for entry in postListItems %}
            {% capture image %}
                {% if entry.url contains "happenings/" %}
                {% if entry.data.happeningImage and entry.data.happeningImage != ""  %}
                image:
                    imagePath: {{ entry.data.happeningImage }}
                    imageAlt: {{ entry.data.imageAltText }}
                {% else %}
                image:
                    imagePath: {{ happenings.defaultImage }}
                    imageAlt: {{ happenings.defaultImageAltText }}
                {% endif %}
                {% else %}
                {% if entry.data.blogImage and entry.data.blogImage != ""  %}
                image:
                    imagePath: {{ entry.data.blogImage }}
                    imageAlt: {{ entry.data.imageAltText }}
                {% else %}
                image:
                    imagePath: {{ blog.defaultImage }}
                    imageAlt: {{ blog.defaultImageAltText }}
                {% endif %}
                {% endif %}
                {% endcapture %}
            {% capture happeningInfo %}
                happeningTitle: {{ entry.data.title }}
                url: {{ entry.url }}
                happeningDatetime: '{% if entry.data.happeningDate %}{{ entry.data.happeningDate }}{% else %}{{ entry.date }}{% endif %}'
                blogTags: {{ entry.data.tags | ymlify | split: "," | json}}
                {{ image | strip}}
                color_group: {{styles.color_group}}
                {% endcapture %}
            {% assign happeningInfo = happeningInfo | ymlify %}
            {% capture hapeningHeadline %}
              
            {% endcapture %}
            {% if counter < 1 %}
              <div class="c-upcomingHappening cs-w-full relative flex flex-col items-center min-h-screen overflow-hidden pb-16">
                <div class="absolute inset-0 -z-10 flex items-center justify-center after:contents[''] after:absolute after:inset-0 after:bg-black after:bg-op {{opacity}} ">
                {% assign image = image | strip |ymlify | log %}  
                {% bookshop "generic/image" bind: image.image class: "min-h-screen h-full w-screen object-cover " %}
                </div>
  
                <section class="basecontainer w-full flex flex-col h-full justify-end text-white">
                  <div class="  flex items-end justify-between flex-wrap gap-x-8">
                    {% capture headingHappening %}
                      content:
                          headline: {{entry.data.title| stringifyFilter}}
                          description: {{entry.data.summary| stringifyFilter}}
                          headingHierarchy: "h2"
                      styles:
                          contentAlignment: center
                          textAlignment: center
                          textClassOverride: text-white
                  {% endcapture %}
                  {% assign headingHappening = headingHappening | ymlify %}
  
                  <p _="on intersection(intersecting) having threshold 0.1
                  repeat while intersecting
                  set :currentTime to Date.now()
                  set :happeningDate to Date.parse('{{entry.data.happeningDate | date: "%Y-%m-%d %I:%M %P"}}')
                  set :timeDifference to :happeningDate - :currentTime
                  set :days to Math.floor(:timeDifference / (1000 * 60 * 60 * 24))
                  set :hours to Math.floor((:timeDifference mod (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))
                  set :minutes to Math.floor((:timeDifference mod (1000 * 60 * 60)) / (1000 * 60))
                  set :seconds to Math.floor((:timeDifference mod (1000 * 60)) / 1000)
                  set my innerHTML to :days + 'd ' + :hours + 'h ' + :minutes + 'm ' + :seconds + 's'
                  log :happeningDate
                  wait 1s
                  if intersecting !== true then break end
                  end
                  "
                  ></p>
                      {% bookshop "generic/heading" bind: headingHappening %}
                      <p>{{entry.data.happeningDate | date: "%Y-%m-%d %I:%M %P"}}</p>
                    <div class=" w-full max-w-[350px] flex flex-col justify-end ">
                      <a href="{{entry.url}}">Learn more</a>
                  </div>
                </section>
              </div>
            {% endif %}
            {% assign counter = counter | plus: 1 %}
          {% endfor %}
      </div>
    {% elsif contents.noHappeningsHeading %}
      {% bookshop {{contents.noHappeningsHeading._bookshop_name}} bind: contents.noHappeningsHeading %}
    {% else %}
    {% endif %}
  </div>
  
  