
<div class="cs-w-full py-10 bg-{{styles.color_group}}-backgroundcolor flex justify-center text-{{styles.color_group}}-textcolor">
    
    <div class="grid grid-cols-3 gap-10 md:gap-20 basecontainer">
        {% for blog in collections.blog %}
            {% capture blogAuthor %}
                {% for writer in authors %}
                    {% if blog.data.author == writer.id %}
                        {{ writer.name }}
                    {% endif %}
                {% endfor %}
            {% endcapture %}
            {% capture blogInfo %}
                blogTitle: {{ blog.data.title }}
                url: {{ blog.url }}
                author: {{blogAuthor}}
                date: {{ blog.date }}
                length: {{ blog.content | readTimeFilter }}
                blogTags: {{ blog.data.tags | ymlify | split: "," | json}}
                image:
                    imagePath: {{ blog.data.blogImage }}
                    imageAlt: {{ blog.data.imageAltText }}
                color_group: {{styles.color_group}}
            {% endcapture %}
    
            {% assign blogInfo = blogInfo | ymlify %}
            
            {% bookshop "generic/blog/card1" bind:blogInfo %}
        {% endfor %}
    </div>
</div>