{% if env_bookshop_live %}
  {% assign author = 'jane Doe' %}
  {% assign length = '2 min' %}
  {% assign date = '2020-01-17' %}
  {% assign blogTags = "tag1,tag2" | split: "," | json %}
  {% capture image %}
  imagePath: https://picsum.photos/600
  imageAlt: place holder image
  {% endcapture %}
  {% assign image = image | ymlify %}
  {% assign blogTitle = 'How to quickly build a website visually' %}
{% endif %}

<div class="w-full ">
  <div class="flex justify-between text-sm opacity-70">
    <div class="" > 
      <p>Written by</p>
      <p>{{ author }}</p>
    </div>
    <div class="text-right">
      <p>{{ length  }}</p>
      <time datetime="{{ date | date: "%Y-%m-%d" }}">{{ date | date: "%B %d, %Y" }}</time>
    </div>
  </div>
  <a class="" href="{{url}}">{% bookshop "generic/image" bind: image class: "rounded transition-all duration-300 scale-100 hover:scale-105 object-cover aspect-[3/2]"  %}</a>
  <ul class=" flex text-{{color_group}}-secondarycolor flex flex-wrap gap-2 overflow-hidden opacity-70">
    {% for tag in blogTags %}
      <li class="hover:underline after:absolute after:content-['·']  after:left-2 relative before:content-[' '] after:left-[-5px] after:text-lg ">
        <a class=""
          href="/tag/{{ tag | slug }}/"
          >{{ tag | capitalize | replace: ' ', '' }}</a>
      </li>
    {% endfor %}
  </ul>
  <h2 class="hover:underline text-2xl"><a href="{{url}}">{{ blogTitle }}</a></h2>
</div>